/*------------------------------------------*\
    # Custom Property
\*------------------------------------------*/

:root{

    /* color */
    --rich-black-forga-39_50: hsla(0, 0%, 5%, 0.5);
    --rich-black-forga-39: hsla(0, 0%, 5%);
    --indian-yellow_20: hsla(36, 49%, 34%, 0.429);
    --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
    --indian-yellow: hsla(36, 61%, 58%);
    --harvest-gold: hsl(36, 66%, 53%);
    --eerie-black-1: hsl(0, 0%, 14%);
    --eerie-black-2: hsl(0, 0%, 12%);
    --eerie-black-2_85: hsl(0, 0%, 12%, 0.85);
    --eerie-black-3: hsl(0, 0%, 8%);
    --sonic-sliver: hsl(0, 0%, 44%);
    --davys-gray: hsl(210, 9%, 31%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 0%, 91%);
    --black_30: hsla(0, 0%, 0%, 0.3);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --white_30: hsla(0, 0%, 100%, 0.3);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 8%, 21%);
    --background-color: hsl(0, 0%, 0%);

    /* Topography */
    --ff-oswald : 'Oswald', sans-serif;
    --ff-rubik : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --fs-40: 4rem;
    --fs-30: 3rem;
    --fs-24: 2.4rem;
    --fs-14: 1.4rem;
    --fs-14: 1.4rem;
    --fs-13: 1.3rem;

    --fw-300: 500;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* Spacing */
    --section-padding: 80px;

    /* Shadow */
    --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
    --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

    /* Radius */
    --radius-5: 5px;
    --radius-8: 8px;

    /* transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}


/*------------------------------------------*\
    # Reset
\*------------------------------------------*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,
img,
span,
data,
input,
select,
button,
textarea,
i{
    display: block;
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,
select,
button,
textarea{
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea{
    width: 100%;
}

button{
    cursor: pointer;
}

i{
    pointer-events: none;
}

address{
    font-style: normal;
}

html{
    font-family:  var(--ff-rubik);
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--sonic-sliver);
    font-size: 1.6rem;
    line-height: 2;
}

:focus-visible{
    outline-offset: 4px;   
}

::-webkit-scrollbar{
    width: 6px; 
}

::-webkit-scrollbar-track{
    background: #000;
}

::-webkit-scrollbar-thumb{
    background: var(--indian-yellow);
    transition: .3s ease;
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}



/*------------------------------------------*\
    # Reuseable Style
\*------------------------------------------*/
.container{
    padding-inline: 15px;
}

.section{
    padding-block: var(--section-padding);
}

.has-before,
.has-after{
    position: relative;
    z-index: 1;    
}

.has-before::before,
.has-after::after{
    position: absolute;
    content: "";
}

.has-bg-img{
    /* background-repeat: no-repeat;  */
    background-position: center; 
    background-size: cover;;
}

.h1,
.h2,
.h3{
    font-family: var(--ff-rubik);
    line-height: 1.3;
}

.h1,
.h2{
    text-transform: uppercase;
}

.h3,
.h1{
    font-weight: var(--fw-600);
}

.h1{
    color: var(--white);
    font-size: var(--fs-40);   
}

.h2,
.h3{
    color: var(--eerie-black-1);
}

.h2{
    font-size: var(--fs-30);
}

.h3{
    font-size: var(--fs-24);
}

.btnn{
    color: var(--white);
    background-color : var(--indian-yellow);
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 10px 25px;
    height: 50px;
    font-family: var(--ff-rubik);
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    border-radius: var(--radius-5);
    overflow: hidden;
}

.btnn::before{
    background: var(--eerie-black-1);
    inset: 0;
    z-index: -1;
    transform: skewY(-15deg) scaleY(0);
    transition: var(--transition-2);
}

.btnn:is(:hover, :focus)::before{
    transform: skewY(-15deg) scale(2.5);
}

.text-center,
.text-center-p{
    text-align: center;
}

.text-center-p{
    padding-bottom: 20px;
}

.grid-list{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr)); */
    gap: 30px;
}

.img-holder,
.img-hold{
    --aspect-ratio: var(--width) / var(--height);
    background: var(--white);
    overflow: hidden;
}

.img-cover,
.img-holder{
    width: 150px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.img-cover2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-banner{
    background: none;
}

/*------------------------------------------*\
    # Header CSS
\*------------------------------------------*/
.head-top{
    background: var(--background-color);
}

.head-top-item,
.btn{
    display: none;
}

.head-top-item p,
.head-top-item a{
    color: var(--white);
}

.head-top-item .fa-mobile-phone,
.footer-media-item .fa-mobile-phone{
    font-size: 30px;
}

.head-top-list,
.head-top-list .social-media{
    display: flex;
    align-items: center;
}

.head-top-list{
    justify-content: center;
}

.head-top-list .social-media{
    gap: 20px;
    padding-block: 15px;
}

.head-top-list .media-link a{
    color: #fff;
    font-size: 21px;
    transition: var(--transition-1);
    /* cursor: pointer; */
}

.head-top-list .media-link a i{
    cursor: pointer;
}

.head-top-list .media-link a:hover{
    color: var(--indian-yellow);
    transform: scale(1.1);
}

.head-bottom{
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    padding-block: 10px;
    margin-block-end: 200px;
    z-index: 4;
    transition: .3s ease;
}

.head-bottom.active{
    position: fixed;
    top: -25px;
    margin-block-end: 150px;
    background: var(--rich-black-forga-39);
    transform: translateY(-100%);
    height: 110px;
    animation: slideIn 0.5s ease forwards;
    transition: .3s ease;
}

.head-bottom.active .logo{
    margin-bottom: 30px;
}

@keyframes slideIn {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.head-bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo{
    color: var(--indian-yellow);
    font-family: var(--ff-rubik);
    font-size: 3.3rem;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    line-height: 1.4;
    padding-top: 20px;
}

.logo .span{
    color: var(--white);
    font-family: var(--ff-rubik);
    font-size: 1.9rem;
    font-weight: var(--fw-300);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.nav-toggle-btn{
    color: var(--white);
    font-size: 40px;
}

.navbar{
    display: block;
    position: absolute;
    padding-inline: 0;
    top: 100%;
    left: 15px;
    right: 15px;
    background: var(--rich-black-forga-39);
    max-height: 0;
    overflow: hidden;
    transition: .15s --cubic-out;
}

.navbar.active{
    max-height: 321px;
    transition-duration: .5s;
}

.nav-list{
    border-block-start: 1px solid var(--jet);
    width: 187%;
    margin-block: 25px;
}

.nav-item{
    border-block-end: 1px solid var(--jet);
    width: 187%;
}

.nav-link{
    color: var(--white);
    font-family: var(--ff-rubik);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    line-height: 1.5;
    padding: 10px 30px;
    transition: var(--transition-1);
}

.nav-link:is(:hover, :focus){
    color: var(--indian-yellow);
}




/*------------------------------------------*\
    # Home CSS
\*------------------------------------------*/
.home{
    --section-padding: 100px;
    padding-block-start: calc(var(--section-padding) + 40px);
    background-position: left;
    height: 100vh;
}

.home::before{
    inset: 0;
    background: var(--rich-black-forga-39_50);
    z-index: -1;
    mix-blend-mode: multiply;
}

.home-text{
    color: var(--white);
    margin-block: 15px 40px;   
}

.motto{
    font-size: 25px;
    font-weight: 600;
}

/*------------------------------------------*\
    # Services CSS
\*------------------------------------------*/
.services{
   text-align: center;
}

.service{
    background: var(--background-color);
}

.services .section-para{
    margin-block: 15px 55px;
}

.service .section-head,
.service .section-para{
    color: var(--white);
}

.service-card{
    background: var(--background-color);
    padding: 60px 25px;
    border: 1.5px solid var(--indian-yellow);
    /* box-shadow: var(--shadow-1); */
    border-radius: var(--radius-8);
}

.service-card .card-icon{
    color: var(--indian-yellow);
    font-size: 70px;
    line-height: 1;
    text-align: center;
}

.service-card .card-icon img{
    width: 80px;
    height: 70px;
    margin-left: 120px;
}

.service-card .card-head{
    margin-block: 15px 12px;
    text-align: center;
    color: var(--white);
    transition: var(--transition-1);
}

.service-card .card-para{
    text-align: center;
    color: var(--white);
}

.service-card .card-head:is(:hover, :focus){
    color: var(--indian-yellow);
}

.service-card .card-para{
    margin-block-end: 30px;
}

.service-card .card-btn{
    color: var(--indian-yellow);
    background: var(--background-color);
    width: 50px;
    height: 50px;
    border: 1.5px solid var(--indian-yellow);
    border-radius: var(--radius-5);
    margin-inline: auto;
    font-size: 20px;
    padding-top: 3px;
    padding-left: 15px;
    font-size: 21px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-2);
}

.service-card:is(:hover, :focus) .card-btn{
    background: var(--indian-yellow);
    color: var(--white);
}

/* .img-holder img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    max-width: 100px;
    max-height: 300px;
} */



/*------------------------------------------*\
    # Pricing CSS
\*------------------------------------------*/
.pricing::before{
    inset: 0;
    background-color: var(--eerie-black-2_85);
    mix-blend-mode: multiply;
    z-index: -1;
}

.pricing .section-head{
    color: var(--white);
}

.pricing .section-para{
    margin-block: 15px 55px;
    color: var(--white_50);
}

.pricing-tab-wrapper{
    background: var(--background-color);
    padding: 40px 5px;
    border-radius: var(--radius-5);
}

.tab-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-block-end: 30px;
}

.pricing-btn{
    color: var(--white);
    font-family: var(--ff-rubik);
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    min-width: 170px;
    padding-block: 12px;
    border: 2px solid var(--indian-yellow); 
    transition: var(--transition-1);
    border-radius: 5px;
}

.pricing-btn .btn-icon{
    display: none;
}

.pricing-btn .btn-icon img{
    width: 60px;
    height: 55px;
    margin-left: 55px;
}

.pricing-btn.active{
    background: var(--indian-yellow_20);
    border-color: var(--indian-yellow);
    color: var(--white);
}

.pricing .grid-list{
    padding-inline: 20px;
}

.pricing .grid-list > li.active{
    animation: popup 0.75s ease forwards;
}

@keyframes popup{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.pricing-card{
    background: var(--indian-yellow_10);
    padding: 20px 25px;
    border-radius: var(--radius-5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.pricing-card .card-banner{
    border-radius: 50%;
    overflow: hidden;
}

.pricing-card .wrapper{
    order: 1;
    color: var(--white);
}

.pricing-card .h3{
    --fs-24: 2rem;
    margin-block-end: 8px;
    color: var(--white);
}

.pricing-card .card-price{
    color: var(--indian-yellow);
    font-family: var(--ff-rubik);
    font-size: var(--fs-30);
    font-weight: var(--fw-500);
}




/*------------------------------------------*\
    # Gallery CSS
\*------------------------------------------*/
.gallery{
    background: var(--background-color);
}

.head-container{
    margin-block-end: 60px;
}

.section-head{
    color: var(--white);
}

.gallery .section-para{
    margin-block: 12px 15px;
    color: var(--white);
}

.gallery-card{
    position: relative;
    border-radius: var(--radius-5);
}

.gallery-card .card-banner .img-cover2{
    transition: var(--transition-2);
    border-radius: var(--radius-5);
}

.gallery-card .card-content .card-head,
.gallery-card .card-content .card-para{
    color: var(--white);
}

.gallery-card:is(:hover, :focus-within) .card-banner .img-cover2{
    transform: scale(1.1);
    border-radius: var(--radius-5);
}

.gallery-card .card-content{
    position: absolute;
    inset: 15px;
    background: var(--eerie-black-2_85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: scale(0.0);
    transition: var(--transition-2); 
    border-radius: var(--radius-5);
}

.gallery-card:is(:hover, :focus-within) .card-content{
    opacity: 1;
    transform: scale(1);
    border-radius: var(--radius-5);
}

.gallery-card:is(.card-head, .card-para){
    color: var(--white);
}

.gallery-card .card-btn{
    background: var(--white);
    color: var(--indian-yellow);
    font-size: 22px;
    padding-top: 2px;
    padding-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: var(--radius-5);
    transition: var(--transition-1);
}

.gallery-card .card-btn:is(:hover, :focus){
    background: var(--indian-yellow);
    color: var(--white);
}




/*------------------------------------------*\
    # Appointment CSS
\*------------------------------------------*/
.book{
    padding-block-start: 0;
    background: var(--background-color);
}

.book-card .card-banner{
    display: none;
}

.book-card .card-content{
    background: var(--indian-yellow);
    padding: 80px 15px;
    text-align: center;
    color: var(--white);
}

.book-card .section-head{
    color: var(--white);
}

.book-card .section-para{
    margin-block: 15px 55px;
}

.input-field{
    background: var(--background-color);
    color: var(--davys-gray);
    min-height: 56px;
    padding-inline: 20px;
    border-radius: var(--radius-5);
    margin-block-end: 20px;
    outline: none;
    outline-offset: 0;
}

.input-field:focus{
    outline: 3px solid var(--black_30);
}

select.input-field{
    appearance: none;
}

select.input-field,
.input-field::placeholder,
.input-field.date{
    font-family: var(--ff-rubik);
    color: var(--white);
    font-weight: var(--fw-500);
}

.input-field > option{
    color: var(--sonic-sliver);
    font-family: var(--ff-rubik);   
}

.input-field.date{
    text-transform: uppercase;
}

.input-field::-webkit-calender-picker-indicator{
    opacity: 0.85;
}

.appoin-img1{
    border-radius: 0 15px 15px 0;
}

.appoin-img{
    border-radius: 15px 0 0 15px;
}


textarea.input-field{
    /* width: 100%; */
    padding-block: 15px;
    min-height: 100px;
    height: 120px;
    max-height: 150px;
    resize: vertical;
}

.form-btn{
    color: var(--white);
    background: var(--background-color);
    font-family: var(--ff-rubik);
    font-size: 20;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2.5px solid var(--background-color);
    padding: 15px;
    border-radius: var(--radius-5);
    transition: var(--transition-1);
}

.form-btn:is(:hover, :focus){
    background: var(--indian-yellow_20);
    color: var(--white);
}


/*------------------------------------------*\
    # Footer CSS
\*------------------------------------------*/
.footer{
    padding-block-end: 30px;
    margin-top: -8rem;
}

.footer-top{
    margin-block-end: 65px;
}

.footer-brand{
    /* border: .5px solid var(--white_10); */
    margin-block-end: 70px;
    border-block-end: 2.5px solid var(--white_10);
}

.footer .logo{
    text-align: center;
    padding: 25px;
    /* border-block-end: 1.5px solid var(--white_10); */
}

.footer .input-container{
    background: var(--background-color);
    position: relative;
    margin: 25px;
    padding: 15px;
    border-radius: var(--radius-5);
}

/* .footer .input-container:focus-within{
    outline: 1.5px solid var(--white_30);
} */

.footer .email-input::placeholder{
    color: var(--indian-yellow);
}

.footer .email-input{
    text-align: center;
    margin-block-end: 15px;
    color: var(--indian-yellow);
    font-weight: 500;
    outline: none;
}

.footer .input-container .email-input:focus-within{
    outline: 2px solid #d4a159;
    border-radius: 1px;
}

.footer .btnn{
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

.footer-social-media{
    display: grid;
    gap: 50px;
}

.footer-media-head{
    color: var(--white);
    font-family: var(--ff-rubik);
    font-size: 18px;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    margin-block-end: 30px;
}

.footer-link{
    color: #ffffff;
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    font-size: 16px;
    gap: 10px;
    margin-block-start: 8px;
    transition: var(--transition-1);
}

.footer-link::before{
    position: static;
    padding: 2.5px;
    background: var(--white);
    display: block;
    border-radius: 50%;
    transition: var(--transition-1);
}

.footer-link,
.blog-card,
.blog-card .card-date,
.footer-media-item{
    display: flex;
    align-items: center;
}

.footer-link:is(:hover, :focus){
    color: var(--indian-yellow);
    transform: translateX(7px);
}

.footer-link:is(:hover, :focus)::before{
    background: var(--indian-yellow);
}

.blog-card{
    gap: 25px;
    margin-block-start: 20px;
}

.blog-card .card-banner{
    flex-shrink: 0;
    background: none;
}

.blog-card .img-cover2{
    width: 100px;
    height: 100px;
    border-radius: var(--radius-5);
    background: black;
}

.blog-card .card-head{
    color: var(--white);
    font-family: var(--ff-rubik);
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    line-height: 1.5;
    margin-block-end: 5px;
    transition: var(--transition-1);
}

.blog-card .card-head:is(:hover, :focus){
    color: var(--indian-yellow);
}

.blog-card .card-date{
    gap: 5px;
    font-size: 16;
    text-transform: uppercase;
    color: #c3c3c3;
}

.blog-card .card-date i{
    --ionicon-stroke-width: 50px;
}

.footer-media-item{
    align-items: flex-start;
    gap: 10px;
    margin-block-start: 10px;
}

.footer-media-item i{
    color: var(--indian-yellow);
    font-size: 20px;
    flex-shrink: 0;
    --ionicon-stroke-width: 50px;
    margin-block: 7px;
}

.contact-link{
    color: var(--white);
    transition: var(--transition-1);
}

a.contact-link:is(:hover, :focus){
    color: var(--indian-yellow);
}

.footer-bottom{
    background: var(--background-color);
    text-align: center;
    padding: 15px;
    color: #ffff;
    border-radius: 5px;
    font-size: 16px;
}

.copyright-link{
    display: inline-block;
    color: var(--indian-yellow);
    font-weight: 500;
}



/*------------------------------------------*\
    # Back To The Top Btn CSS
\*------------------------------------------*/
.back-to-top-btn{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: var(--harvest-gold);
    color: var(--white);
    font-size: 20px;
    padding-top: 3px;
    padding-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: var(--radius-5);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.back-to-top-btn.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}